.category-card {
  background-color: $color-white;
  box-shadow: 0 0 2px 0px #e3e3e3;
  transition: 0.2s;
  &__img-container {

  }
  &__img {

  }
  &__heading {
    font-size: 17px;
    font-weight: 700;
    color: $color-grey-500;
  }
  &__text {

  }

  &:hover, &:focus {
    box-shadow: 0 0 7px 3px $color-grey-700;
    z-index: 1;
  }
}
