.bg-grey-900
	.grid-container.copyright.align-justify.grid-x.p-t-10.p-b-10
		.cell.xlarge-shrink
			.m-r-10 &copy; 2018 - Интернет магазин велосипедов
			a.sitemap-link(href="#" title="Карта сайта") Карта сайта
		.cell.xlarge-shrink
			+link-tel({
				tel: "+38 (099) 56-95-56", linkClass: "m-b-10", iconClass: ""
			})